<div class="row">
	<div class="col-xs-12">
		<div class="jumbotron">
			<h1>Music Society Ticketing System</h1>
			<p>Yeah I'm just going to fill this page with lorems since I can't be bothered with a proper home page but I still want an okay homepage. Maybe students who come to the site can see this and this only?</p>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<div class="thumbnail">
					<%= image_tag "http://lorempixel.com/400/200/sports" %>
					<div class="caption">
						<h3>We Like Sports!</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ligula sem, eleifend eget aliquet et, auctor in magna. Donec scelerisque massa tellus.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="thumbnail">
					<%= image_tag "http://lorempixel.com/400/200/people" %>
					<div class="caption">
						<h3>We Like People!</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ligula sem, eleifend eget aliquet et, auctor in magna. Donec scelerisque massa tellus.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="thumbnail">
					<%= image_tag "http://lorempixel.com/400/200/cats" %>
					<div class="caption">
						<h3>We Like Cats!</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ligula sem, eleifend eget aliquet et, auctor in magna. Donec scelerisque massa tellus.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="thumbnail">
					<%= image_tag "http://lorempixel.com/400/200/business" %>
					<div class="caption">
						<h3>We Like Businesses!</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ligula sem, eleifend eget aliquet et, auctor in magna. Donec scelerisque massa tellus.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>