<div class="row">
  	<div class="col-xs-12">
  		<p>
			<%= link_to 'Student Details', @student %> |
			<%= link_to 'Back to All Students', students_path %>
		</p>
		<h2>Editing student</h2>

		<%= render 'form' %>
	</div>
</div>