<% any_checked_in = @event.tickets.map(&:attendance?).any? %>
<% if any_checked_in %>
<table class="table table-striped">
	<thead>
		<th>Ticket Serial Number</th>
	</thead>
	<tbody>
<% @event.tickets.each do |ticket| %>
	<% if ticket.attendance %>
	<tr>
		<td>MUS<%= ticket.serial_number %></td>
	</tr>
	<% end %>
<% end %>
	</tbody>
<% else %>
<p><strong>No tickets are checked in for <%= @event.name %></strong></p>
<% end %>
</table>
<% any_checked_in = @event.tickets.map(&:attendance?).any? %>
<%= form_for(@event, method: :post, url: { action: "checkout_all" }, :remote => true ) do |f| %>
<%= any_checked_in ? (submit_tag "Check Out All Tickets", class: "btn btn-large btn-primary") : (submit_tag "Check Out All Tickets", class: "btn btn-large btn-primary", disabled: true) %>
<% end %>