<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-6">
				<h2>New Ticket</h2>
			</div>
			<div class="col-xs-6">
				<%= link_to '&larr; Cancel'.html_safe, tickets_path, class: "btn btn-danger pull-right header-component" %>
			</div>
		</div>

		<%= render 'form' %>

		<div class="row">
			<div class="col-xs-12 col-sm-offset-8 col-sm-4">
				<h3 class="pull-right">
					Total Payable: 
					<strong>
						RM 
						<span id="member_price-display">
							<%= !@event.nil? ?  number_with_precision(@event.member_price, :precision => 2) : "0.00" %>
						</span>
						<span id="non_member_price-display">
							<%= !@event.nil? ?  number_with_precision(@event.non_member_price, :precision => 2) : "" %>
						</span>
					</strong>
				</h3>
			</div>
		</div>
	</div>
</div>