@import "bootstrap-sprockets";
@import "bootstrap";

.glyphicon-member {
	color: gold;
}

#main-container {
	min-height: 90vh
}

.header-component {
	margin-top: 20px;
}

#error_explanation {
	@extend .alert;
	@extend .alert-danger;
	h2 {
		font-size: 1em;
		font-weight: bold;
	}
}

.attending {
	background-color: LemonChiffon;
}

.text-right {
	text-align: right;
}

#clear-search-button {
	margin-left: -36px;
	margin-top: -1px;
	border-radius: 0 4px 4px 0;
}